@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nerko+One&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  background: #15202b;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 40%;
  margin-top: 0;
}

.shadow {
  color: #15202b;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  background: #fff;
}

.shadow::before,
.shadow::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  background: linear-gradient(45deg, red, blue, green, yellow, #e11d74, black, #ff0, #a00);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 30s linear infinite;
}

.shadow::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.list {
  min-width: 55%;
  margin-top: 130px;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.list-title {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.title {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 80%;
}

.list-form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.input-task {
  outline: none;
  color: #000;
  border: none;
  font-size: 20px;
  line-height: 80%;
  font-style: italic;
}

.btn-form {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.task-item {
  color: #000;
  font-size: 20px;
  line-height: 80%;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.task-check {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}

a {
  color: #000;
}

.task-ins {
  display: flex;
  align-items: center;
}

.task-ins:focus {
  background-color: aquamarine;
}

.task-option {
  cursor: all-scroll;
}

.task-details {
  padding: 10px 2px;
  border: 0;
  font-size: 20px;
}

.task-details:focus {
  outline: none;
}

.fa-ellipsis-v,
.fa-trash-can {
  position: absolute;
  right: 2%;
  top: 30%;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d3d3d3;
}

.footer a {
  text-decoration: none;
  font-size: 20px;
}

.empty {
  display: flex;
  justify-content: center;
  color: yellow;
  margin-top: 20px;
  font-size: 30px;
}
